<div class="properties-hero-area d-flex flex-wrap align-items-center mb-80">
    <div class="properties-slide">
        <!-- Properties Slider -->
        <div id="property-thumb-silde" class="carousel slide wow fadeInUp" data-wow-delay="200ms" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#property-thumb-silde" data-slide-to="0" class="active" style="background-image: url(assets/img/bg-img/64.jpg);"></li>
                <li data-target="#property-thumb-silde" data-slide-to="1" style="background-image: url(assets/img/bg-img/65.jpg);"></li>
                <li data-target="#property-thumb-silde" data-slide-to="2" style="background-image: url(assets/img/bg-img/66.jpg);"></li>
                <li data-target="#property-thumb-silde" data-slide-to="3" style="background-image: url(assets/img/bg-img/67.jpg);"></li>
            </ol>

            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="assets/img/bg-img/64.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="assets/img/bg-img/65.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="assets/img/bg-img/66.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="assets/img/bg-img/67.jpg" class="d-block w-100" alt="...">
                </div>
            </div>
        </div>
    </div>

    <!-- Properties Content Area -->
    <div class="properties-content-area wow fadeInUp" data-wow-delay="200ms">
        <div class="properties-content-info">
            <h4>{{livingPlace.attributes.title}}</h4>
            <div class="properties-location">
                <p>
                    <i class="fa fa-map-marker" aria-hidden="true"></i>  
                    {{livingPlace.relationsships.address.colonia}},{{livingPlace.relationsships.address.municipio}}, {{livingPlace.relationsships.address.estado}}
                </p>
                <p><i class="fa fa-map-marker" aria-hidden="true"></i> Mexico</p>
            </div>
            <h4 class="properties-rate">{{livingPlace.attributes.price}}</h4>
            <p>
                {{livingPlace.attributes.description}}
            </p>
            <!-- Properties Info -->
            <div class="properties-info">
                <p>Estatus: <span>{{livingPlace.attributes.status}}</span></p>
                <p>ID: <span>{{livingPlace.id}}</span></p>
                <p>Fecha de registro: <span>{{livingPlace.created_at}}</span></p>
            </div>
        </div>
    </div>
</div>